---
---
// External
@import 'external/reset';
@import 'external/solarized-dark';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';

.project-description {
  padding-top: 3%;
}

.work {
  padding-top: 0px;  
}

.call-out {
  padding-bottom: 0px;
}